<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/hb_student_tracker</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">hbstudent</property> <!-- DB User -->
        <property name="connection.password">hbstudentpassword</property> <!-- DB Password -->

        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property> <!-- DB Dialect -->
        <property name="hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <!--<property name="connection_pool_size">1</property>-->

        <property name="current_session_context_class">thread</property>


        <mapping class="com.tom.example.hibernate.entity.InstructorDetail"/>
        <mapping class="com.tom.example.hibernate.entity.Instructor"/>
    </session-factory>
</hibernate-configuration>